.container {
    height: 90rem;
    margin: 0 3rem;
    max-width: 126rem;
    width: calc(100% - 5rem);
    /* отступы по краям*/
}

.container--intro {
    max-width: 130rem;
}

.container--benefits {
    height: fit-content;
}

.container-bg--benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 66.8rem;
    background-color: rgb(246, 249, 255);
}

.container--pricing {
    max-width: 121rem;
    height: 127.8rem;
}

.container--discount{
    height: 42.5rem;
    height: 100%;
}

.container-bg--footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40.5rem;
    background-color: #DFE8FF;
}

.container--footer {
    height: fit-content;
}