.container {
    height: 90rem;
    margin: 0 3rem;
    max-width: 126rem;
    width: calc(100% - 5rem); /* отступы по краям*/
}

.container--intro {
    max-width: 130rem;

}

.container--benefits {
    position: relative;
    height: fit-content;

}

.container-bg--benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 66.8rem;
    background-color: rgb(246, 249, 255);
}