.pricing {
    width: 50rem;
    height: 35rem;
    margin: 0 auto;
}

.pricing__upper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pricing__title {
    font-size: 4.8rem;
    font-weight: 500;
    color: #001049;
    margin: 9rem 0 0 0;
}

.pricing__subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    color: #2A3354;
    text-align: center;
}

.switch-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20.2rem;
}

.switch__text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #001049;
}

.switch__checkbox {
    display: flex;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 6rem;
    height: 3rem;
    border: 0.1rem solid rgba(86, 133, 255, 0.15);
    display: block;
    border-radius: 10rem;
    position: relative;
    transition: 0.3s;
}

label:after {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    background: #5685FF;
    border-radius: 9rem;
    transition: 0.3s;
}

input:checked+label {
    background: rgba(86, 134, 255, 0.378);
    transition: 0.3s;
}

input:checked+label:after {
    left: calc(100% - 0.5rem);
    transform: translateX(-100%);
}

label:active:after {
    width: 3rem;
}

.pricing__down {
    height: 81.5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.pricing__subscription--block {
    width: 34rem;
    background: #FAFAFA;
    box-shadow: 0 1rem 5rem 1.5rem rgba(86, 133, 255, 0.15);
    border-radius: 4rem;
    margin: 0 1rem;
}

.middle--block {
    margin-bottom: 4rem;
}

.subscription--inside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.inside__main--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing__title--block {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 120%;
    color: #001049;
}

.pricing__subtitle--block {
    width: 27.2rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    text-align: center;
    color: #2A3354;
}

.pricing--block {
    display: flex;
    justify-content: center;
    align-items: end;
}

.pricing__cost {
    font-weight: 700;
    font-size: 8rem;
    line-height: 120%;
    color: #5685FF;
    margin: 2rem 0 0 0;

}

.pricing__subprice {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    text-align: center;
    color: #2A3354;
    padding-left: 1rem;
}

.pricing__list {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
}

.pricing__list--txt {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    text-align: center;
    color: #2A3354;
    margin: 1rem 1rem;

}


.pricing__list--lists {
    display: flex;
    flex-direction: row;

}

.pricing__buttonclear {
    color: #5685FF;
    font-size: 16px;
    font-weight: 500;
    border: 0.1rem solid #5685FF;
    border-radius: 1rem;
    width: fit-content;
    padding: 1rem 5rem;
    margin: 2rem 0;
    transition: all 0.3s ease-in-out;
}

.pricing__buttonclear:hover {
    box-shadow: 0px 8px 24px rgba(86, 133, 255, 0.25);
}

ul {
    list-style: none;
}