/* font-family: 'Jost', sans-serif */
@import url(./intro.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./pricing.css);
@import url(./benefits.css);
@import url(./discount.css);
@import url(./container.css);
@import url(./description.css);
@import url(./adaptive-design/ad-header.css);
@import url(./adaptive-design/ad-intro.css);
@import url(./adaptive-design/ad-benefits.css);
@import url(./adaptive-design/ad-description.css);
@import url(./adaptive-design/ad-pricing.css);
@import url(./adaptive-design/ad-discount.css);
@import url(./adaptive-design/ad-footer.css);


body {
    font-family: 'Jost', sans-serif;
    color: #333;
    margin: 0;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    /* transition: all 0.2s; */
}