@media (max-width:1250px) {
    .intro__title {
        margin-right: 2rem;
    }
}

@media (max-width:900px) {
    .intro__right {
        display: none;
    }

    .intro__left {
        grid-column: 1/3;
        justify-self: center;
        height: 50rem;
    }

    .container--intro {
        height: 55rem;
    }
}



@media (max-width:650px) {
    .intro__title {
        font-size: 4.8rem;
        text-align: center;
        margin: 0;
    }

    .intro__left {
        align-items: center;
        height: 40rem;
    }

    .container--intro {
        height: 45rem;
    }

}

@media (max-width:436px) {

    .intro__left {
        height: 42rem;
    }

    .container--intro {
        height: 37rem;
    }

}


@media (max-width:357px) {
    .intro__title {
        font-size: 3.6rem;

    }

    .container--intro {
        height: 33rem;
    }

    .intro__button {
        margin: 0;
    }

    .intro__buttons {
        flex-direction: column;
    }

    .intro__buttonclear {
        margin: 1rem 0;
        text-align: center;
        width: auto;
    }

    .intro__subtitle {
        text-align: center;
        width: 100%;
    }

}


@media (max-width:351px) {
    .intro__title {
        font-size: 3rem;

    }

    .intro__button {
        margin: 0;
    }

    .intro__buttons {
        flex-direction: column;
    }

    .intro__buttonclear {
        margin: 1rem 0;
        text-align: center;
        width: auto;
    }

}